/*--------------------------------------------------------------
# forms
--------------------------------------------------------------*/

.select_form {

    ul {
      padding: 30px 0;
      list-style: none;
      color: $black;
      text-align: left;
      line-height: 20px;

      li {
        padding: 10px 0;
        display: flex;
        align-items: center;

        label {
          margin-left: 15px;
          font-family: $font-primary;
          font-weight: 700;
          font-size: 20px;
       }
      }

      i {
        color: $primary;
        font-size: 36px;
        padding-right: 3px;
        line-height: 0;
      }

      .na {
        color: rgba( $gray, .5);
        i {
          color: rgba( $gray, .5);
          font-size: 24px;
          padding-left: 4px;
        }
        span {
          text-decoration: line-through;
        }
      }
    }

    width: 100%;

    .form-group {
      padding-bottom: 8px;
    }

    .validate {
      display: none;
      color: red;
      margin: 0 0 15px 0;
      font-weight: 400;
      font-size: 13px;
    }

    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      & br + br {
        margin-top: 25px;
      }
    }

    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        animation: animate-loading 1s linear infinite;
      }

    }

    input, textarea, select {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px !important;
      &:focus {
        border-color: $primary;
      }
    }

    input, select {
      height: 44px;
    }

    textarea {
      padding: 10px 12px;
    }

    button[type="submit"] {
      font-family: $font-primary;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 8px 28px;
      border: 1px solid $primary;
      border-radius: 12px;
      transition: 0.5s;
      margin-top: 30px;
      color: $primary;
      background: $white;
      &:hover {
        color: $white;
        background: lighten($primary, 10);
      }
    }


}