// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #027C33;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "buttons";
@import "nav";


// Then add additional custom code here
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #1B2522;
}

@media (max-width: 544px) {

    body {
        font-size: .9rem;
    }

}