{% extends 'base_nonav.html' %}

{%  load static %}

{% block content %}


  <!-- ======= Header ======= -->
  <header id="header_nonav" class="fixed-top d-flex align-items-center">

    <div class="logo d-flex align-items-center justify-content-between ms-5">
        <a href="{% url 'durabilityBuilder:home' %}" class="logo d-flex align-items-center w-auto">
                          <img src="{% static 'img/logo.png' %}" alt="">
          <h1 class="d-lg-block">Durability Builder</h1>
        </a>
       <i class="bi bi-list toggle-sidebar-btn ms-3"></i>
    </div><!-- End Logo -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'durabilityBuilder:dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading">Introductory 2-Week Program</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#week1-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Week1</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="week1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Day 1</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Day 2</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <i class="bi bi-circle"></i><span>Day 3</span>
            </a>
          </li>
          <li>
            <a href="components-breadcrumbs.html">
              <i class="bi bi-circle"></i><span>Day 4</span>
            </a>
          </li>
          <li>
            <a href="components-buttons.html">
              <i class="bi bi-circle"></i><span>Day 5</span>
            </a>
          </li>
          <li>
            <a href="components-cards.html">
              <i class="bi bi-circle"></i><span>Day 6</span>
            </a>
          </li>
          <li>
            <a href="components-carousel.html">
              <i class="bi bi-circle"></i><span>Day 7</span>
            </a>
          </li>
        </ul>
      </li><!-- End Week 1 Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#week2-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Week2</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="week2-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>Day 1</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>Day 2</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <i class="bi bi-circle"></i><span>Day 3</span>
            </a>
          </li>
          <li>
            <a href="components-breadcrumbs.html">
              <i class="bi bi-circle"></i><span>Day 4</span>
            </a>
          </li>
          <li>
            <a href="components-buttons.html">
              <i class="bi bi-circle"></i><span>Day 5</span>
            </a>
          </li>
          <li>
            <a href="components-cards.html">
              <i class="bi bi-circle"></i><span>Day 6</span>
            </a>
          </li>
          <li>
            <a href="components-carousel.html">
              <i class="bi bi-circle"></i><span>Day 7</span>
            </a>
          </li>
        </ul>
      </li><!-- End Week 2 Nav -->

      <li class="nav-heading">My Account</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Logout Page Nav -->


    </ul>

  </aside><!-- End Sidebar-->




{% endblock %}