{% extends 'base.html' %}


{% load static %}


{% block headContent %}


{% endblock %}



{% block content %}

     <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about" style="margin-top: 220px;">
          <div class="container">

            <div class="row justify-content-between">
              <div class="col-lg-6 pt-5 pt-lg-0">
                <h3>Getting Started with Durability Builder</h3>
                  <ul>
                      <li><strong>Step 1</strong> - Answer a few short questions so we can get you the version of the program that's right for you.</li>
                      <li><strong>Step 2</strong> - Purchase the program.</li>
                      <li><strong>Step 3</strong> - (optional) Register for an account, so you can access follow up and support materials.</li>
                  </ul>
              </div>
              <div class="col-lg-6 pt-5 pt-lg-0">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5g8QBuq7_VY?si=iYKog4fSMaU33S5i&amp;start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

          </div>
        </section><!-- End About Section -->

      </main>

{% endblock %}