{% extends 'base.html' %}


{% load static %}


{% block headContent %}


{% endblock %}



{% block content %}

     <main id="main">

        <!-- ======= Confirmation Section ======= -->
        <section id="confirmation" class="confirmation" style="margin-top: 220px;">
          <div class="container">

            <div class="row justify-content-between">
              <div class="col-lg-6 pt-5 pt-lg-0">
                <h3>Get Started with Durability Builder</h3>
              </div>
            </div>

          </div>
        </section><!-- End Confirmation Section -->

      </main>

{% endblock %}