{% extends 'base.html' %}


{% load static %}


{% block headContent %}

{#    <style>#}
{#        .bg-container {#}
{#            background-image: url("{% static 'src/img/tri-transition-fade.png' %}");#}
{#            background-size: auto;#}
{#            background-position-y: top;#}
{#            background-position-x: left;#}
{#            background-repeat: no-repeat;#}
{##}
{#            height: 1094px;#}
{#        }#}
{#    </style>#}



{% endblock %}



{% block content %}

{#    <div class="bg-container">#}
{#        <div class="container py-4 px-3 mx-sm-0 mx-md-auto">#}
{#            <div class="row">#}
{#                <h1>Welcome To The Durability Builder!</h1>#}
{#            </div>#}
{#            <div class="row mt-5">#}
{#                <h4>The activities in this program will help to maintain or regain the natural range of movement in key areas of your body. This increased mobility will help to make you a better athlete and will lessen the likelihood of an injury while training or racing.</h4>#}
{#            </div>#}
{#            <div class="row mt-5">#}
{#                <h4>To help us tailor the program to your individual needs, please answer the following short series of questions. If you're not sure of an answer, go with your best guess.</h4>#}
{#            </div>#}
{#            <div class="row mt-5">#}
{#                <h4>We are excited to work with you!</h4>#}
{#            </div>#}
{#            <div class="row mt-5" style="width: 100px;">#}
{#                <button class="btn mea-btn">Next</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center">
          <h1 class="text-center">The Durability Builder Program</h1>
          <h2>A training plan that prioritizes your durability!</h2>
          <div>
            <a href="{% url 'durabilityBuilder:get_started' %}" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'img/training_plan.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
{#            <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">#}
{#              <iframe width="560" height="315" src="https://www.youtube.com/embed/9WKrNTeru8w?si=CqCWmU-qpVAqntI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>#}
             <iframe width="560" height="315" src="https://www.youtube.com/embed/XTDNYaFP6x4?si=adMJEIRBdaCAFlFt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>         </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">What is Durability Builder?</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              The most common conversations I hear in endurance sports are about recovering from or dealing with strains and injuries. So i decided to do something about it. I created a training plan that prioritizes your durability.
            </p>
            <p data-aos="fade-up" data-aos-delay="100">
               Introducing the Durability Builder program—a 6-week on-line multisport training program designed for athletes like you. I understand the challenges of dealing with muscle strains,  I've been there. I think most of us have.  This program shows you how to deal with strains and injury while preventing the loss of time and training.
            </p>
            <p data-aos="fade-up" data-aos-delay="100">
                To enhance your experience further, we've created a dedicated Durable Triathlete Facebook group where I'll be sharing photos, videos, and advice on everything triathlon related. From race & training nutrition to explaining the mobility exercises and the rationale behind the technique intervals of the workouts—our community will be a valuable resource throughout your journey.
            </p>
        </div>
        </div>

      </div>
    </section><!-- End About Section -->

        <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Program Highlights</h3>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-dumbbell"></i></div>
              <h4 class="title"><a href="">Targeted Durability Focus</a></h4>
              <p class="description">Address and prevent muscle strain or injury to ensure you can perform at your best.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-swim"></i></div>
              <h4 class="title"><a href="">Technique Refinement</a></h4>
              <p class="description">Receive tools to refine your swimming, biking, and running techniques, making you more efficient with less effort.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-cycling"></i></div>
              <h4 class="title"><a href="">Mobility Integration</a></h4>
              <p class="description">Short, effective mobility exercises that seamlessly fit into your busy schedule, targeting specific areas prone to tightness.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-run"></i></div>
              <h4 class="title"><a href="">Injury Prevention</a></h4>
              <p class="description">Reduce the risk of injury and enhance strength and speed with carefully crafted drills for optimal technique efficiency.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

{#        <div class="section-header">#}
{#          <h2>Pricing</h2>#}
{#          <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>#}
{#        </div>#}

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item">

              <div class="pricing-header">
                <h3>Free Plan</h3>
                <h4><sup>$</sup>0</h4>
              </div>

              <ul>
                <li><i class="bi bi-dot"></i> <span>2 week program - one size fits all</span></li>
                <li><i class="bi bi-dot"></i> <span>Try before you buy</span></li>
                <li><i class="bi bi-dot"></i> <span>Standalone - not available on Training Peaks</span></li>
                <li><i class="bi bi-dot"></i> <span>Email support included</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Phone support included</span></li>
              </ul>

              <div class="text-center mt-auto">
                <a href="{% url 'durabilityBuilder:get_started' %}" class="buy-btn">Get Started</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="pricing-item featured">

              <div class="pricing-header">
                <h3>Beta Plan</h3>
                <h4><sup>$</sup>118<span> One Time</span></h4>
              </div>

              <ul>
                <li><i class="bi bi-dot"></i> <span>50% off regular price of $237</span></li>
                <li><i class="bi bi-dot"></i> <span>In return, we ask for your feedback</span></li>
                <li><i class="bi bi-dot"></i> <span>6 week program tailored for your goals and fitness level</span></li>
                <li><i class="bi bi-dot"></i> <span>Available on Training Peaks or standalone</span></li>
                <li><i class="bi bi-dot"></i> <span>Email and phone support included</span></li>
              </ul>

              <div class="text-center mt-auto">
                <a href="{% url 'durabilityBuilder:get_started' %}" class="buy-btn">Get Started</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->

{#          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">#}
{#            <div class="pricing-item">#}
{##}
{#              <div class="pricing-header">#}
{#                <h3>Pro Plan</h3>#}
{#                <h4><sup>$</sup> TBD<span></span></h4>#}
{#              </div>#}
{##}
{#              <ul>#}
{#                <li><i class="bi bi-dot"></i> <span>Quam adipiscing vitae proin</span></li>#}
{#                <li><i class="bi bi-dot"></i> <span>Nec feugiat nisl pretium</span></li>#}
{#                <li><i class="bi bi-dot"></i> <span>Nulla at volutpat diam uteera</span></li>#}
{#                <li><i class="bi bi-dot"></i> <span>Pharetra massa massa ultricies</span></li>#}
{#                <li><i class="bi bi-dot"></i> <span>Massa ultricies mi quis hendrerit</span></li>#}
{#              </ul>#}
{##}
{#              <div class="text-center mt-auto">#}
{#                <a href="{% url 'durabilityBuilder:get_started' %}" class="buy-btn">Get Started</a>#}
{#              </div>#}
{##}
{#            </div>#}
{#          </div><!-- End Pricing Item -->#}

        </div>

      </div>
    </section><!-- End Pricing Section -->


    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Contact us to get started</h3>
        </div>

        <div class="row align-items-center justify-content-center">

{#          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">#}
{#            <div class="info">#}
{#              <div class="address">#}
{#                <i class="bi bi-geo-alt"></i>#}
{#                <h4>Location:</h4>#}
{#                <p>A108 Adam Street, New York, NY 535022</p>#}
{#              </div>#}
{##}
{#              <div class="email">#}
{#                <i class="bi bi-envelope"></i>#}
{#                <h4>Email:</h4>#}
{#                <p>info@example.com</p>#}
{#              </div>#}
{##}
{#              <div class="phone">#}
{#                <i class="bi bi-phone"></i>#}
{#                <h4>Call:</h4>#}
{#                <p>+1 5589 55488 55s</p>#}
{#              </div>#}
{##}
{#              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>#}
{#            </div>#}
{##}
{#          </div>#}

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <form role="form" method="post" class="php-email-form" action="#">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-md-6">
                          <label for="name">Your Name</label>
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group col-md-6 mt-3 mt-md-0">
                          <label for="name">Your Email</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" value="I'm interested in the Durability Builder Plan" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->



{% endblock %}
