{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 14</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 14</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

 <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/qxtj3jicnv54o5lc9299m/14ddkday14edit1.mov?rlkey=out0gwugjloo3v5ykc3n3t9ag&st=0kjm60pp&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">Doors closing! Last chance</div>

         <p>Hey Athletes, you made it!! Congrats on getting to the end of Day 14 of the Durability Builder!</p>

         <p>And here’s some great news: this doesn’t have to be the end.</p>

         <p>Let’s take a moment to look back and celebrate what you’ve achieved so far. If you’ve been following along and
             completing the challenges, I want you to ask yourself:</p>

         <p><span class="list-title">Have you noticed any progress?</span> Whether it’s less stiffness, more mobility, or an improvement in your
                 technique—let’s see it!</p>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Final Squat Assessment - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Final run assessment at 90 cadence or 180 SPM - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

         <p>So, what are the next steps?</p>

         <p>Well, By now, you’ve probably heard me mention the <span class="bold-text">6-Week Durability Builder Beta Program at 50% off</span>, or the
                 Monthly Premium Training Program with $100 off the sign-up fee. But I know what you’re thinking... those
                 familiar doubts creeping in with the “what ifs”:</p>

        <ul>
            <li>Maybe this isn’t your time.</li>
            <li>Maybe staying injury-free just isn’t in the cards.</li>
        </ul>


        <p>Sound familiar? Yeah, I’ve been there.</p>

         <p>I spent years battling relentless pain—plantar fasciitis, IT band syndrome—and endless frustration. Every
             “solution” felt like a Band-Aid: meds, ice, or advice to just “deal with it.” I wondered if I was too old or
             just not cut out for endurance sports.</p>

        <p>But here’s what I’ve learned: <span class="bold-text">You don’t have to live in pain</span>. Your body’s natural resting state should be
             pain-free.</p>

         <p>When I finally stopped chasing quick fixes and built a system grounded in technique, mobility, and durability,
             slowly but surely, I came back stronger. I’m swimming, biking, running—doing everything I love—without fear of
             setbacks.</p>

         <p>Now, I want to help you do the same.</p>

         <p><span class="bold-text">The Next Steps</span></p>

        <p>The <span class="bold-text">6-Week Durability Builder Beta Program</span> is your chance to:</p>

        <ul>
            <li>Stay injury-free while getting stronger and faster.</li>
            <li>Build confidence with targeted mobility and technique drills.</li>
            <li>Unlock your full potential—not just in triathlon, but in life.</li>
        </ul>


         <p>But it doesn’t stop there. After six weeks,
             the Durability Builder: Training & Racing takes your progress even further with:</p>

         <ul>
            <li>Fully customized plans tailored to your goals and schedule.</li>
            <li>Ongoing support, including unlimited communication and regular feedback.</li>
            <li>Exclusive tools like the 3DME exercises to keep you durable and race-ready.</li>
        </ul>


         <p>Or, if you’re ready to jump straight into the monthly <span class="bold-text">Durability Builder: Training & Racing</span>, you can start now!
                 Whether it’s crushing your next race or simply staying strong and injury-free, these programs are your
                 long-term solution.</p>

         <p><a href="#">Click here to join the 6-Week Durability Builder Beta Program at 50% off!</a></p>

         <p>Doors close soon, and I don’t want
         you to miss out.</p>

        <p><a href="#">Click here to save $100 and start your Premium Monthly Training.</a></p>

         <p>You’ve already proven you’re ready to take control of your training. Don’t stop now. Let’s keep the momentum
             going and build something lasting together.</p>
         <p><a href="#">Or Click here to Schedule your free 15-Minute Consultation Call</a> – Let’s discuss what your path back to triathlon
             could look like.</p>


         <p>Remember—start where you are, use what you have, and do what you can.</p>

        <p>I’ll see you in the 6-Week Program—or in the Monthly Event-Based Training Program!</p>

       <p><span class="list-title">Tim</span></p>

         <p><span class="bold-text">PS. LAST CALL! Doors closing soon for the 6-Week Durability Builder Beta Program at 50% off!</span></p>

         <p>Imagine what 6 weeks could do. We're talking months of gains packed into one program—transformative strength,
             speed, and durability. Are you really going to leave the door open to doubt?</p>

         <p><span class="bold-text">Durability Builder: Training & Racing- $189/month</span></p>

         <p>Join us at the Multisport Endurance Academy for a personalized training experience designed to elevate your
             performance and meet your unique goals. Enjoy scheduled check-ins, unlimited email access, and instructional
             videos throughout the program.</p>

       <p><span class="list-title">What's Included:</span></p>

         <ul>
             <li><span class="list-title">Flexible, Individualized Training Plans:</span> Utilizing Training Peaks' robust platform, your plans are tailored to your abilities and race schedule.</li>
             <li><span class="list-title">Coach Support:</span> Experience continuous accountability and unwavering guidance. Regular check-ins provide personalized encouragement to keep you motivated and on track.</li>
             <li><span class="list-title">Strength & Conditioning:</span> Build strength and reduce injury risk.</li>
             <li><span class="list-title">Exclusive 3DME Daily Mobility Exercises:</span> Keep you injury-free and performing at your best—only available at the Multisport Endurance Academy.</li>
             <li><span class="list-title">Meal Plans:</span> Simple, delicious recipes with balanced macros optimized for your training demands.</li>
             <li><span class="list-title">Nutrition Guidance:</span> Learn what, how much, and when to eat for optimal fueling.</li>
             <li><span class="list-title">Plan Flexibility:</span> Plans change, setbacks happen—no worries! We’ll modify as needed to help you achieve your goals.</li>
             <li><span class="list-title">Daily Email Reminders:</span> Stay on top of your upcoming training.</li>
             <li><span class="list-title">Private Athlete Community:</span> Connect with other Multisport Endurance Academy members on our community page.</li>
         </ul>

         <p>This is it—let’s keep pushing forward. You’re ready for this.</p>

    </section>

  </main>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the collapse element
        const week1Nav = document.getElementById('week2-nav');
        // Create a Bootstrap collapse instance
        const bsCollapse = new bootstrap.Collapse(week1Nav, {
          toggle: false // Prevent automatic toggling
        });
        // Show the collapse
        bsCollapse.show();
      });
    </script>



{% endblock %}