{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 6</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 6</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/lhqcjxep8j98623or2e76/14ddkday6edit1.mov?rlkey=wqgulxkl9zeqmt29m2xcwup2w&st=61fbt4ju&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">Shit Happens, Now What? Or From Setbacks to Success: Building Your Durable Comeback</div>


        <p>Some days are great, and some days are just tougher. Training isn’t all sunshine and PRs. Sometimes, you’re
            cruising along, feeling unstoppable, and bam—a strain, an injury, or a setback throws you off course. We’ve
            all been there. Those past challenges can make us hesitant, like we’re bracing for the next hit. As the 80’s
            rock band Great White put it, “Once bitten, twice shy, baby.” But here’s the truth: none of those setbacks
            define you or your path. What matters now is what you choose to do.</p>

            <p>It’s easy to feel held back by memories of past injuries or worries that they might happen again. But today
                is a new chance to step forward, stronger and in control. Each workout, each stretch, each drill is a step
                closer to your finish line. You’re building yourself into a more durable athlete, one challenge at a
                time.</p>

            <p>And if you need a little inspiration, let me introduce you to Steven, an ultra-runner whose journey is proof
                of what’s possible when you refuse to quit. Steven’s athletic journey hit a wall when severe hip pain
                sidelined him, making running feel impossible. But stopping wasn’t an option. Like you, he knew sitting it
                out wouldn’t get him closer to his goals. So, he reached out to me.</p>

            <p>Together, we crafted a unique multisport durability-building program to help him not only recover but thrive.
                Here’s how it worked:</p>

            <ul>
                <li><span class="list-title">Starting Slow & Strategic</span>: We focused on low-impact exercises like cycling and swimming to build aerobic capacity without aggravating his hips.</li>
                <li><span class="list-title">Frequent Mobility Drills</span>: Short, targeted mobility exercises became part of his daily routine to keep his hips flexible and strong.</li>
                <li><span class="list-title">Gradual Reintroduction to Running</span>: With improved mobility, we reintroduced running, focusing on perfect form to prevent setbacks. Every session built Steven’s strength and confidence.</li>
            </ul>

            <p>His dedication paid off. First, he completed a half Ironman. Then, he conquered the grueling 140.6-mile
                Ironman. With the tools to stay durable and face down every challenge, he eventually returned to
                ultra-running—stronger, faster, and more resilient than ever.</p>

            <p>Steven’s story isn’t unique because he faced setbacks; it’s because he chose to push through them. What can
                you do to keep moving forward? Today, make the choice to take control and build your durability. I’m right
                here with you, ready to help you transform into a more durable triathlete.</p>

            <p>Are you ready to ditch the baggage and dive in?</p>

            <p>Let’s get after it!</p>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Pigeon - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Swim-Superman - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

            <p>Got questions? Ask away in the Facebook group—I’m here to help!</p>

          <p>Remember to Start where you are. Use what you have. Do what you can.</p>

           <p>And I’ll see you tomorrow.</p>

           <p><span class="list-title">Tim</span></p>

    </section>

  </main>




{% endblock %}