{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 2</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 2</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/pzxypf1l1e296aclqntd5/14ddkday2edit1.MOV.mov?rlkey=wdipm6mie3kkofd3no7jgtm52&st=3q46ltnh&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">The 2 beliefs that have wasted years of progress in triathlon…</div>


            <p>Ever feel like no matter how many miles you slog through or how many yards you swim, you just don’t see the progress you were hoping for?</p>

            <p>That was me 20 years ago…</p>

            <p>Stuck, frustrated, and a little embarrassed by my triathlon performance.</p>

            <p>Back then, I was convinced the secret to improvement was simply to push through the pain, believing that
                discomfort was some kind of twisted rite of passage. I thought if I just kept ignoring those nagging aches,
                my endurance and speed would magically crank up a notch. Spoiler alert: it didn’t. It was a vicious cycle of
                burnout—painful, exhausting, and downright soul-crushing.</p>

            <p>Every day, I’d lace up my shoes with grand dreams, only to find my body feeling worse than a hangover after a
                night out. I was waking up feeling like “the morning after” and I hadn’t gone out the night before. The pain
                cranked up, my pace dropped down, and my confidence went with it.</p>

            <p>The self-talk grew louder, saying, "You’re just not tough enough."</p>

            <p><span class="list-title">Side Bar:</span> Let’s clarify good pain and bad pain. At first, I thought all pain was bad, but then I realized
                that some of it was actually good—just my body adapting and getting stronger. Unfortunately, I mistook the
                bad pain—those sharp twinges and throbbing reminders of injury—for just another part of the process.
                Outwardly, I was battling one injury after another. But the real kicker? I believed the only way to heal was
                to completely hit the brakes. I thought I’d lose all my hard-earned fitness in the process, which left me
                trapped in a maddening loop of frustration.</p>

            <p>Then, out of nowhere, I stumbled upon a new path—one that flipped everything on its head. It wasn’t about
                pushing through the pain or becoming a couch potato...</p>

            <p>I discovered the game-changing magic of structured technique, mobility, and strength training. This wasn’t
                just another half-baked training tweak; it was a blueprint for building real durability and optimizing my
                movement.</p>

            <p>This fresh approach didn’t just revamp my training; it catapulted me toward becoming the triathlete I always
                wanted to be. And guess what? It actually worked…</p>

            <p>Not only did my performance finally improve, but my body stopped fighting me, and my confidence
                skyrocketed.</p>

            <p>The outdated beliefs that I had to either push through pain or completely stop to heal? Shattered.</p>

            <p>All I needed was a system focused on improving how I moved, and suddenly, everything else fell into
                place.</p>

            <p>So, if you’re feeling trapped in your training, wondering if you’re destined to either suffer or lose your
                fitness, take a cue from my story…</p>

            <p>Durability and mobility training transformed my approach to triathlon, and it might just do the same for you.
                Today’s exercises, the Couch Stretch, and the bike cadence drill are a really good first. These two
                activities will give you some of the highest return on time invested making everything else just work
                better.</p>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Couch Stretch - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Bike Cadence Assessment - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

            <p><span class="list-title">Facebook Users</span>: Catch Day 2 of the 14-Day Durability Builder on Facebook - <a href="#">[Watch it here]</a></p>

            <p><span class="list-title">Non-Facebook Users</span>: No problem! Here’s your link - <a href="#">[Watch it here]</a></p>

            <p>Got questions? Ask away in the Facebook group—I’m here to help!</p>

           <p>And I’ll see you tomorrow.</p>

           <p><span class="list-title">Tim</span></p>


    </section>

  </main>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the collapse element
        const week1Nav = document.getElementById('week1-nav');
        // Create a Bootstrap collapse instance
        const bsCollapse = new bootstrap.Collapse(week1Nav, {
          toggle: false // Prevent automatic toggling
        });
        // Show the collapse
        bsCollapse.show();
      });
    </script>



{% endblock %}