{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 10</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 10</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/ycoqd6jzjo3gwgt61lskv/14ddkday10edit1.mov?rlkey=am6sjvttg4h5sje42rr31d00l&st=m7cm1bqg&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">She finished Pain Free!</div>

            <p>Ever been stuck wondering if the time, effort, and energy you're pouring into training will really pay off?
                Questioning if it's worth it to keep pushing, given all the setbacks?</p>

            <p>Imagine if the outcome wasn’t just finishing stronger, but transforming how you feel every single day. Over
                the years, I’ve worked with athletes who wanted more than to simply compete — they wanted confidence and
                durability that positively impacted every part of their lives.</p>

            <p>These athletes didn’t just get faster and fitter; they found freedom from the fear of injury, confidence to
                train without limits, and even rediscovered their love for the sport.</p>

            <p>Wouldn’t you want to race with confidence, knowing you’re not risking weeks or months off from overuse
                pain?</p>

            <p>I’ll be honest — I know the doubt creeps in. Is it really worth the investment? But isn’t the chance to train
                and compete at your best, without pain, worth it?</p>

            <p>Recently, I worked with an athlete who felt just like you might — uncertain and held back. She took a leap,
                committed to a plan that prioritized durability, and now, at 53, she’s pain-free, training and racing
                stronger and faster than ever.</p>

            <p>And that’s why I created the 6-Week Durability Builder Program. To give you that first step back into
                training without limits, helping you move from pain to confidence.</p>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Supine Shoulder opener - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Jump rope, tight Glutes - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

            <p>Got questions? Ask away in the Facebook group—I’m here to help!</p>

          <p>Remember to Start where you are. Use what you have. Do what you can.</p>

           <p>And I’ll see you tomorrow.</p>

           <p><span class="list-title">Tim</span></p>

    </section>

  </main>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the collapse element
        const week1Nav = document.getElementById('week2-nav');
        // Create a Bootstrap collapse instance
        const bsCollapse = new bootstrap.Collapse(week1Nav, {
          toggle: false // Prevent automatic toggling
        });
        // Show the collapse
        bsCollapse.show();
      });
    </script>



{% endblock %}