{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 5</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 5</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/7tnhwzyazh8fd3macpnab/14ddkday5edit1.mov?rlkey=lp0h521mbnv0n1e39gna2n42t&st=ga96da2k&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">6 weeks to Feeling Stronger & Injury Free</div>


            <p>Imagine yourself just six weeks from now—training smoothly, free from those nagging pains, and finally
                feeling like the athlete you’ve always wanted to be. Moving efficiently, faster, and stronger.</p>

            <p>For years, I searched for a program that balanced triathlon training with real life—jobs, family, and
                everything else. I needed something that built both strength and efficiency without risking injury, focusing
                on sustainable progress rather than quick wins. In other words, durability. When I couldn’t find that
                program, I decided to create it myself</p>

            <p>Six weeks from now, you could be seeing the difference: more endurance, faster recovery, and that confidence
                to push harder without worrying about injuries. It’s all from investing in a stronger, more durable you.</p>

            <p>So, here’s the question—how much longer will you let injuries hold you back? Or watch others progress faster,
                knowing that could’ve been you? Making a change now means investing in the training that moves you forward
                for good. </p>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Ankle dorsiflexion band optional - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Bike-(ILT)Isolated Leg Training - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

            <p>Got questions? Ask away in the Facebook group—I’m here to help!</p>

          <p>Remember to Start where you are. Use what you have. Do what you can.</p>

           <p>And I’ll see you tomorrow.</p>

           <p><span class="list-title">Tim</span></p>

    </section>

  </main>


    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the collapse element
        const week1Nav = document.getElementById('week1-nav');
        // Create a Bootstrap collapse instance
        const bsCollapse = new bootstrap.Collapse(week1Nav, {
          toggle: false // Prevent automatic toggling
        });
        // Show the collapse
        bsCollapse.show();
      });
    </script>


{% endblock %}