{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Day One</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 1</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bkc4WKcG7kU?si=4aGMjuKbGuIrytr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="section-title">Day One – Lets Do This!</div>

        <p>Welcome, Triathletes!</p>
        <p>Are you ready to elevate your game and bid farewell to those persistent aches and pains that have been holding you back?  I'm Tim Sorensen, your coach and guide from the Multisport Endurance Academy. Today, we're kicking off our 14-Day Durability Builder course tailored explicitly for triathletes like you.</p>
        <p>Triathlon training has a lot of benefits, but it's no secret that it can be tough on the body. From pounding the pavement during runs to relentless laps in the pool and the grind of the bike, the toll can manifest in various ways. One common complaint? Pain! It's a nagging issue that can derail your training and hinder your performance if left unaddressed.</p>
        <p>Let's dive into why race training often takes a toll on your body, common training mistakes that exacerbate the issue, and most importantly, how to navigate multisport training without succumbing to debilitating pain.</p>
        <div class="section-subtitle">Day 1: Understanding the Impact on Your Body</div>
        <p>Research has shown that the repetitive nature of triathlon training, coupled with poor form, can strain your joints and spine, leading to discomfort and injury. Whether you're a seasoned athlete or new to intense training, building a resilient body is crucial for enduring the rigors of triathlon preparation.  Let’s start with a baseline test so we know what to focus on.</p>

{#    </section>#}
{##}
{#    <section id="challenge-section" class="section workout-section mt-0">#}

        <div class="section-title">Day 1 Challenge</div>

        <div class="video-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bkc4WKcG7kU?si=4aGMjuKbGuIrytr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="section-title">The Squat Test:</div>

        <p>The squat test evaluates body strength, flexibility, and mobility by assessing how well an individual performs a bodyweight squat. It's useful for:</p>

        <ol>
            <li><strong>Strength: </strong>Gauging the strength of muscles like the quadriceps, hamstrings, glutes, and calves.</li>
            <li><strong>Flexibility and Mobility: </strong>Identifying limitations in ankle, knee, and hip flexibility, as well as joint mobility.</li>
            <li><strong>Postural Assessment: </strong>Observing posture and alignment, helping to detect weaknesses or imbalances.</li>
            <li><strong>Functional Movement: </strong>Assessing functional movement patterns relevant to swimming, biking and running.</li>
            <li><strong>Injury Prevention and Rehabilitation: </strong>Tailoring exercise programs to address weaknesses, reducing injury risk, and aiding in rehabilitation.</li>
       </ol>

        <p>Overall, the squat test is a valuable tool for fitness assessment, physical therapy, and sports performance evaluation.</p>

        <p>Take 3 pictures of yourself in the same poses and the pictures. Use the below pictures as a guide to measure your own ability. Save these pictures and periodically through your fitness journey, repeat the exercise and see if you have gotten any progress.  With the proper training and mobility exercises, this should eventually get easier and more precise.</p>

        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center image-wrapper">
                    <img src="{% static 'img/squat-front.jpeg' %}" alt="squat front view">
                </div>

                 <div class="col d-flex justify-content-center image-wrapper">
                    <img src="{% static 'img/squat-side.jpeg' %}" alt="squat side view">
                 </div>

                <div class="col d-flex justify-content-center image-wrapper">
                    <img src="{% static 'img/squat-rear.jpeg' %}" alt="squat rear view">
                </div>
            </div>
        </div>

        <p>It’s important to note that there is no pass or fail here. This is just a picture to document a starting point and measure progress.  Start where you are, use what you have, do what you can.  </p>

    </section>


    <section id="next-section" class="section workout-section mt-0">

        <p>Now here’s what you have to look forward to:</p>

        <div class="section-subtitle">Day 2-13: Building Durability & Avoiding Training Pitfalls</div>

        <p>Many athletes fall into the trap of solely focusing on swim, bike, and run sessions while neglecting crucial aspects like strength training, flexibility work, and adequate rest. We'll uncover the importance of a well-rounded training approach and how overlooking key components can contribute to muscle, joint & back pain.</p>

        <p>Over the next 12 days, we'll delve into a holistic approach to building durability and resilience in your body. Each day will feature targeted exercises and practices designed to alleviate pain, enhance mobility, and build durability. From technique drills to mobility exercises and nutrition tips, we've got you covered.</p>

        <ul>
            <li><strong>Day 2-3: </strong>Swim Sessions to Improve Posture and Technique</li>
             <li><strong>Day 4: </strong>Swim Specific Mobility Routines to Release Tension and Improve Efficiency</li>
            <li><strong>Day 5-6: </strong>Bike Sessions for Developing Power and Maximum Efficiency</li>
            <li><strong>Day 7: </strong>Bike Specific Mobility Routines to Release Tension and Improve Power Output</li>
            <li><strong>Day 8-9: </strong>Run Drills for Enhancing Stability and Form</li>
            <li><strong>Day 10: </strong>Run Specific Mobility Routines to Release Tension and Improve Performance</li>
            <li><strong>Day 11-12: </strong>Nutrition Strategies for Optimal Performance and Recovery</li>
            <li><strong>Day 13: </strong>Importance of Sleep and Its Effects on Durability & Performance</li>
       </ul>

        <div class="section-subtitle">Day 14: Retest & Listening to Your Body</div>

        <p>Knowing when to push through and when to pull back is essential for preventing serious injury. We'll discuss the importance of tuning in to your body's signals and recognizing when it's time to ease off to avoid exacerbating the “bad” pain.</p>

        <p>As we embark on this journey together, remember that building durability is not a sprint but an Ironman. Consistency, patience, and mindfulness will be your allies as you strive for peak performance while prioritizing your body's well-being.</p>

        <p>Whether you’re a beginner or a veteran, the tools in this 14-Day Durability Builder for Triathletes are critical on our journey to becoming a stronger, more resilient athlete.</p>

        <div class="mt-3">&nbsp;</div>

        <p>Stay strong Athletes, and I look forward to seeing you tomorrow.</p>
        <p>Tim</p>


    </section>


  </main>




{% endblock %}