{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 6</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 6</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="temp_dashboard" class="section">
        <h3>This is where the day's workouts/videos/etc. will go.</h3>
    </section>

  </main>




{% endblock %}