{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 3</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 3</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/0dmos51isycnfaaphqp6i/14ddkday3edit2.mov?rlkey=hq3z120ob0kqitv9ciqegufd0&st=6cr6wdlc&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">The wake-up call</div>


            <p>Do you remember the wake-up call when you realized your training approach wasn’t working? I do, and it
                transformed my entire approach to triathlon.</p>

            <p>It happened when I was sidelined by an IT band strain—yet another frustratingly familiar injury. I had been
                pushing my limits while neglecting the "little things" like mobility and technique. My body was breaking
                down, my knee hurt like hell, and I knew something had to change.</p>

            <p>I took a deep dive into why I kept getting injured and discovered that becoming durable wasn’t about grinding
                harder; it was about working smarter. Since I thought I couldn’t work out during my downtime, I hit the
                books—lots of them! I also scoured the internet. Holy crap, there is so much misleading information out
                there! Anywho…</p>

            <p>As I focused on improving my mobility and technique, I finally started to see real progress. I began with
                swimming, where I struggled to maintain proper form. Let’s be real—I sucked. My breathing was off, my legs
                sank, and my shoulder felt like it had an ice pick lodged in it. Every stroke felt like a fight against the
                water. I realized I needed to prioritize my form and technique if I wanted to improve.</p>

            <p>When I dedicated time to mobilizing my shoulders and focusing on basic swim drills while relaxing, everything
                changed. I became more efficient with each stroke. This wasn’t just about correcting weaknesses; it was
                about finding balance.</p>

            <p>Next, I turned my attention to cycling. I had it all wrong, struggling to maintain a smooth pedal stroke,
                always in the wrong gear and burning out my quads. My hips were incredibly tight from always being in
                flexion (typical for cyclists). By focusing on each quadrant of my pedal stroke, getting a proper bike fit,
                and mobilizing my hips, I began to communicate better with my bike. Before I knew it, I was climbing hills
                like a homesick angel.</p>

            <p>And how about that run? This was a big one for me! Let’s just say plantar fasciitis and I are well
                acquainted. Relearning how to run and mobilize everything below the knee was a total game changer. It took a
                while, but as my feet and calves finally loosened up, I found joy in running, which made me want to do it
                more.</p>

            <p>Finally, efficient movement allowed me to focus on building endurance. Training without pain enabled me to
                sustain longer sessions and actually enjoy them.</p>

            <p>This journey taught me that the basics aren’t boring; they're essential for unlocking your full potential as
                a triathlete. The four core elements of durability—mobility, technique, strength, and endurance—are
                interconnected. In triathlon, just like in life, you’re only as strong as your weakest link. Each skill you
                master reveals new challenges and opportunities for growth.</p>

            <p>In the past, injuries would sideline me, but by prioritizing mobility, technique, strength, and endurance, I
                finally saw real progress. My body stopped breaking down, and my performance soared.</p>

            <p>That’s what my Durability Builder Program is all about: sustainable progress and long-term performance gains.
                It’s about working smarter, not harder. So let’s embrace the often-neglected and oh-so-crucial elements of
                mobility and technique together and transform you into a durable triathlete!</p>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Hips to Heels – 2-10 minutes - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Swim Cadence Assessment - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

            <p>Got questions? Ask away in the Facebook group—I’m here to help!</p>

          <p>Remember to Start where you are. Use what you have. Do what you can.</p>

           <p>And I’ll see you tomorrow.</p>

           <p><span class="list-title">Tim</span></p>

    </section>

  </main>


    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the collapse element
        const week1Nav = document.getElementById('week1-nav');
        // Create a Bootstrap collapse instance
        const bsCollapse = new bootstrap.Collapse(week1Nav, {
          toggle: false // Prevent automatic toggling
        });
        // Show the collapse
        bsCollapse.show();
      });
    </script>


{% endblock %}