{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 7</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 7</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/y7jxq858n6mev2or4aibe/14ddkday7edit1.mov?rlkey=n2k22nnu4pj55ppyg7k46x4ph&st=mtugp9e2&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">Results Are Sexy, But Getting There?</div>


            <p>Day 7, Halfway already! That came quick.</p>

            <p>Let’s be real: results are sexy. Everyone loves the idea of a PR, crossing the finish line strong, or hitting
                a new milestone. But the work it takes to get there? That’s a different story. It’s messy, it’s gritty, and
                life has a way of getting in the way.</p>

            <p>I get it. I’ve been there myself. But here’s the thing: if you keep doing what you’ve been doing, you’re
                gonna keep getting what you got. It’s easy to set a big, shiny goal—and then watch excuse after excuse creep
                in. Suddenly, you’re not doing the work, and the results you dreamed of feel further away.</p>

            <p>If your dream is to conquer something monumental—an Ironman, a PR, or even a comeback 5K—you’ll get there.
                But it’s a progression, and there are no shortcuts. I designed this program to give you a roadmap that makes
                sense for your life, so you’re not just checking off workouts—you’re building a stronger, more durable
                athlete out of yourself, one step at a time.</p>

            <p>We don’t just tell you what to do; we show you how to do it, and more importantly, why each step matters.
                This isn’t “just go faster”—it’s about training smarter, finding joy in the work, and building yourself up
                in a way that lasts.</p>

            <p>So here’s the challenge: Stop torturing yourself by putting off your goals or feeling like they’re just out
                of reach. You deserve to be happy and fulfilled in this journey, every step of the way.</p>

            <p>This program is here to back you up. You’re stronger than you think—and the results? They’re just waiting for
                you to start.</p>

            <p>It’s never too late to build a life you’re proud of, one that’s filled with adventure, challenge, and moments
                that make it all worth it. So… what are you waiting for?</p>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Retest Squat Assessment - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Revisit running at a cadence of 90 or 180 spm - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

            <p>Got questions? Ask away in the Facebook group—I’m here to help!</p>

          <p>Remember to Start where you are. Use what you have. Do what you can.</p>

           <p>And I’ll see you tomorrow.</p>

           <p><span class="list-title">Tim</span></p>

    </section>

  </main>




{% endblock %}