{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 1</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 1</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/ju7ghnksazyz5jydqmr3f/14ddkday1edit2.mp4?rlkey=ffgvyv5an5n81jzmrtje9594t&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">Day 1: I’m fed up with Strain & Injury…</div>

        <div class="section-subtitle">Ready to Train Smarter, Not Harder? Let’s Start Day 1 of the Durability Builder!</div>

            <p>Hey there, Tim Sorensen here!</p>
    
            <p>I know firsthand how frustrating training can be. When I started competing in triathlons at 31, I was
                overwhelmed by all the conflicting advice. Like many, I thought the answer was to swim hard, bike hard, and
                run hard—a lot! But all that effort only led to strains, injuries, and falling short of the gains I'd hoped
                for.</p>
    
            <p>I'd look at the pros and wonder, "If I'm putting in the work, why don't I see those results?" It honestly
                pissed me off. So, I dug deeper. Years of study, trial, error, and more trial taught me the real key wasn't
                just doing more; it was focusing on mobility, technique, strength, and injury prevention—and getting the
                balance right. That's when things finally clicked.</p>
        
            <p>You’ve probably been bombarded with advice: “Swim more, bike more, lift weights, go slower, go faster…” It’s like trying to drink from a fire hose. I get it—it’s overwhelming. So, where do you start? When do you start?</p>

            <p>First, start where you are, use what you have, and do what you can. And when? Right now!</p>
    
            <p>Here’s the truth: waiting for that elusive “perfect moment” to train without pain? It’s a myth. The best time
                to start is now.</p>
    
            <p>Once I shifted my focus to addressing weak points rather than piling on more training, I saw a real change in
                performance. It wasn’t about training harder; it was about training smarter.</p>
    
            <p>Now, a quick word about pain: not all pain is bad. Good pain—the satisfying burn after a solid workout—means
                your body’s adapting and getting stronger. Bad pain, though, is the sharp, persistent kind that signals
                something’s wrong. Learning to spot the difference is crucial.</p>
    
            <p>For over 25 years, I’ve refined this approach, not just for myself but for countless triathletes. They’ve
                transformed from injury-prone to durable, confident competitors. You don’t need to be sidelined by overuse
                injuries or self-doubt. Let’s tackle what’s holding you back so you can train and race with confidence. </p>
        
            <div class="section-subtitle">Let’s Turn That Strain into Gain!</div>

            <p>For the next 14 days, I’ll be sending you one mobility or technique exercise each day—specifically for
                triathletes. Check the link at the bottom of each email to access your daily exercise, available as a video
                or PDF. Complete the exercises and share your feedback or a video of yourself in the community group for
                tips and support.</p>
        
            <p>Today’s exercises are game-changers. Check out the Squat Test and Run Cadence Test to get started.</p>
        
            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>
        
            <ul>
                <li><span class="list-title">Daily Mobility</span>: Squat Assessment - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Run Cadence Assessment - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

    </section>


  </main>


    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Get the collapse element
        const week1Nav = document.getElementById('week1-nav');
        // Create a Bootstrap collapse instance
        const bsCollapse = new bootstrap.Collapse(week1Nav, {
          toggle: false // Prevent automatic toggling
        });
        // Show the collapse
        bsCollapse.show();
      });
    </script>

{% endblock %}