{% extends 'base_dashboard.html' %}

{%  load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Welcome to Day 4</h1>
        <hr/>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'durabilityBuilder:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Day 4</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section id="intro-section" class="section workout-section">
        <div class="video-wrapper mt-5">
            <video width="560" height="315" controls>
                <source src="https://www.dropbox.com/scl/fi/gvepf70svvh2490eqbjit/14ddkday4edit1.mov?rlkey=crot9w1lt8291a2ggup2w37d8&st=z8f03p5l&raw=1" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="section-title">The wake-up call</div>


        <p>Do you ever feel like you’re constantly racing against the clock to squeeze in your training? That there’s
            just no time left for warm-ups, cool-downs, or those essential mobility and technique drills?</p>

        <p>You’re not alone…</p>
        <p>I’ve been there too, cramming in miles, skipping the “extras,” only to realize later they weren’t extras at
            all. They’re the foundation.</p>

        <p>Triathlon is about more than just logging miles. It’s about how you move. Efficient movement saves you time,
            energy, and, more importantly, helps keep you injury-free. Training without the mobility and technique work
            is like swinging a dull axe at a tree. You might get the job done, but it’ll take longer, and you’re more
            likely to burn out or break down.</p>

        <p>If you’re serious about improving and staying injury-free, the mindset of "I don’t have time" couldn’t be
            further from reality. By dedicating time to mobility and technique, you not only save time but also boost
            performance and reduce your risk of injury.</p>

        <p>We all have the same 24 hours in a day. The athletes who succeed, strategize their time for what matters
            most. Here’s how you can too:</p>

        <ul>
            <li><span class="list-title">Mobility</span>: My 3DME (Daily Mobility Exercises) take just 2 minutes per body part per exercise. You’ve already started with one per day, so by today (Day 4), you’ve got 3 exercises in your arsenal. As the program progresses, you’ll get more exercises, and from there, you can alternate them out.  Also, for a real time saver,  you can either do all three at once for about 15 minutes a day or split them into three 2-5-minute sessions. An easy way to fit this into your routine is by doing your mobility exercises on the floor while watching TV at night. By the end of the week, you'll have worked every body part, sometimes more than once. Remember, consistency is key—doing a little bit more often is far more beneficial than cramming everything into one big session a week.</li>
            <li><span class="list-title">Technique</span>: First, choose a race that fits your available training time. If you’re constantly stressed about fitting in training for your desired event, consider picking a shorter race. I know, it sounds simple, but it's not always easy. Depending on your race length and training volume, you can either incorporate a bit of technique work into each workout or dedicate one session per week for each discipline to perfect your skills. Focusing on training your neural pathways for more efficient movement in each discipline will make you stronger, faster, and a more durable triathlete. Remember, practice doesn’t make perfect—perfect practice does.
When you think you don’t have time, remember that these small actions—mobility, technique—will save you time in the long run. They’re essential for efficient training and injury prevention</li>
        </ul>

            <div class="section-subtitle">Today’s Mobility and Technique Challenge:</div>

            <ul>
                <li><span class="list-title">Daily Mobility</span>: Hang: 2 min chin, 2 min pull - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Technique Drill</span>: Barefoot run Assessment - <a href="#">[Watch it here]</a></li>
                <li><span class="list-title">Get today’s exercise PDF</span> - <a href="#">[Download here]</a></li>
            </ul>

            <p>Got questions? Ask away in the Facebook group—I’m here to help!</p>

          <p>Remember to Start where you are. Use what you have. Do what you can.</p>

           <p>And I’ll see you tomorrow.</p>

           <p><span class="list-title">Tim</span></p>

    </section>

  </main>




{% endblock %}