{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script defer src="{% static 'main.js' %}"></script>

    {% block headContent %}

    {% endblock %}

</head>
<body>

    <nav class="nav nav-top">
        <div class="logo-container">
            <a href="https://www.multisportenduranceacademy.com/"><img class="logo-img" src="{% static 'img/MEA-logo1.png' %}" alt="MEA Logo"></a>
        </div>

        <ul class="nav-list">
            {% if user.is_authenticated %}
                <li><button href="#"><img class="menu-icon" src="{% static 'img/menu-icon.svg' %}" alt="Menu Icon"></button></li>
            {% else %}
                <li><button class="btn mea-btn" href="#">Login</button></li>
            {%  endif %}
        </ul>
    </nav>

    <div class="page-content">

{% block content %}

{% endblock %}

    </div>

</body>
</html>

